/* line 2, sass/blocks/_ProgressWidget.scss */
.ProgressWidget {
  width: 50%;
  max-width: 500px;
  margin: 2em auto;
  height: 4em;
  border-radius: 3px;
  border: 2px solid #EEE;
  position: relative;
}
/* line 12, sass/blocks/_ProgressWidget.scss */
.ProgressWidget .ProgressWidget-base {
  background: #d1d1d1;
  height: 100%;
}
/* line 18, sass/blocks/_ProgressWidget.scss */
.ProgressWidget .ProgressWidget-bar {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  transition: width 0.1s ease;
  border-radius: 3px;
  background: #33DD33;
}
/* line 29, sass/blocks/_ProgressWidget.scss */
.ProgressWidget.ProgressWidget-layout_vertical {
  width: 4em;
  height: 100%;
  min-height: 100px;
  box-sizing: border-box;
}
/* line 36, sass/blocks/_ProgressWidget.scss */
.ProgressWidget.ProgressWidget-layout_vertical .ProgressWidget-base {
  min-height: 100px;
}
/* line 42, sass/blocks/_ProgressWidget.scss */
.ProgressWidget.ProgressWidget-layout_vertical .ProgressWidget-bar {
  transition: height 0.5s ease;
  right: 0;
  top: auto;
  bottom: 0;
}

/* line 4, sass/style.scss */
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

/* line 10, sass/style.scss */
canvas {
  display: block;
}

/* line 12, sass/style.scss */
#edit {
  position: absolute;
  top: 0;
  left: 0;
  background: #FFF;
  padding: 10px;
}

/* line 20, sass/style.scss */
#edit label {
  display: block;
}

/* line 24, sass/style.scss */
#edit label span {
  width: 22px;
  display: inline-block;
}

/* line 29, sass/style.scss */
#edit input {
  width: 100px;
}

/* line 33, sass/style.scss */
.AGameState {
  height: 100%;
}
